name: Docker Image CI
on:
  workflow_dispatch:
      inputs:
        version:
          description: 'Image version'
          required: true
          type: string
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Build and push Docker image
      uses: docker/build-push-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: vaagn/test-docker-images
        tags: ${{ github.event.inputs.version }}
